{% extends '_full.html.twig' %}

{% set meta_title = 'Über uns' %}
{% set meta_subtitle = 'Informationen' %}
{% set meta_description = 'Über die Entwickler und Supporter des Alumni-Portals für den Zweiten Bildungsweg' %}

{% set seo_title = 'Über die Entwickler und Supporter des Alumni-Portals' %}

{% set sidebar = 'about' %}

{% block page_header %}
    <section class="py-5">
        <div class="container">
            <h3 class="h3">Wer sind wir?</h3>

            <h4 id="1" class="h5 text-primary">Die Entwickler des Alumni-Portals</h4>
            <p>
                Informationen zu den Leuten und Förderern des Portals.
            </p>
            <ul>
                <li>Die Kollegiaten</li>
                <li>Der Förderverein</li>
                <li>Die Lehrkräfte des Kollegs</li>
                <li>Die Schulleitung</li>
                <li>Andere Ehemalige (Lernende/Lehrkräfte)</li>
            </ul>

            <h4 id="2" class="h5 text-primary">Die Motivation dahinter</h4>
            <p>
                Warum eigentlich ein eigenes Alumni-Portal?
            </p>

            <h4 id="3" class="h5 text-primary">Unsere Maxime</h4>
            <p>
                Ethische Grundhaltungen, nach der die Plattform entstanden ist und leben soll.
            </p>

    </div>
</section>


{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}
{% endblock %}





