{% extends '_full.html.twig' %}

{% set meta_title = 'Über uns' %}
{% set meta_subtitle = 'Informationen' %}
{% set meta_description = 'Über die Entwickler und Supporter des Alumni-Portals für den Zweiten Bildungsweg' %}

{% set seo_title = 'Über die Entwickler und Supporter des Alumni-Portals' %}

{% set sidebar = 'about' %}

{% block page_header %}
    <section class="py-5">
        <div class="container">

            <h4>Wer sind wir?</h4>
            <h5  class="h5 text-primary">Die Entwickler des Alumni-Portals</h5>
            <p>
                Das Alumni-Portal ist ein Projekt von engagierten Kollegiaten des Treptow-Kollegs Berlin.
                Es entstand aus dem Wunsch heraus, die Verbindung zwischen ehemaligen und aktuellen Lernenden sowie dem Kolleg selbst dauerhaft zu stärken.
                Die technische und inhaltliche Gestaltung erfolgt eigenverantwortlich durch die Lernenden mit Unterstützung des Kollegiums und Fördervereins.

                Die Lernenden bilden das Herzstück der Entwicklung. Mit ihren Ideen, ihrem Engagement und ihrer technischen Kompetenz wurde das Portal ins Leben gerufen und kontinuierlich weiterentwickelt.

                Der Förderverein des Treptow-Kollegs unterstützt das Projekt sowohl ideell als auch materiell.
                Er sieht in der Alumni-Arbeit eine wertvolle Brücke zwischen den Bildungseinrichtungen und Alumni.
            </p>
            <p>
                Viele Lehrkräfte haben durch Beratung, technische Expertise oder inhaltliches Feedback zur Realisierung beigetragen.
                Ihre Unterstützung war ein wichtiger Faktor beim Aufbau der Plattform.

                Auch ohne die offene Haltung und Unterstützung der Schulleitung wäre dieses Projekt nicht möglich gewesen.
                Sie ermöglicht Freiräume für kreative Projekte und erkennt den langfristigen Wert unserer Arbeit.
            </p>
            <p>
                Nicht zuletzt sind es aber unsere Ehemaligen, die durch ihre Erfahrungsberichte, Netzwerkarbeit und Motivation dazu beitragen, das Alumni-Portal lebendig zu halten.
            </p>

            <h5 class="h5 text-primary">Die Motivation dahinter</h5>
            <p>
                Warum eigentlich ein eigenes Alumni-Portal? Wir glauben, dass Bildung nicht mit dem Abschluss endet.
                Mit dem Portal wollen wir einen Ort schaffen, an dem sich Wege weiterhin kreuzen, wo Unterstützung, Inspiration und Weiterentwicklung möglich bleiben.
            </p>
            <h5 class="h5 text-primary">Unsere Maxime</h5>
            <p>
                Das Alumni-Portal steht für: Offenheit, Respekt, Vielfalt und lebenslanges Lernen.
                Die Plattform ist Ausdruck einer Bildungsgemeinschaft, die sich gegenseitig unterstützt, inspiriert und die positiven Werte des gemeinsamen Lernens in die Welt trägt.
            </p>

            <h4>Unsere Reichweite</h4>
            <p>
                Die aktuellen Zahlen und Fakten im ersten Testmonat April 2025. In diesem Testzeitraum wurden noch keine Kollegs- und Abendgymnasien über dasd Portal benachrichtigt.
            </p>
            <div class="card  rounded-2 border-0 shadow-sm bg-light">
                <div class="card-body py-2 border-bottom">
                </div>
                <table class="table table-hover mb-0">
                    <tbody>
                    <tr>
                        <td class="fw-bold">Monatliche Reichweite</td>
                        <td>1000+</td>
                    </tr>
                    <tr>
                        <td>davon Handynutzung</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>davon PC-Nutzung</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">erfasste Schulen</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>davon staatlich</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>davon privat</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>davon kirchlich</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Aktive Konten</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>davon Beta-Tester</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>davon echte Konten</td>
                        <td>3</td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-body py-2">
                </div>
            </div>
            <div class="ms-2 mt-2 mb-5 fst-italic">Zahlen & Daten für den Monat April 2025 <small>(Open-Beta Status)</small></div>


            <h4>Presse & Downloads</h4>
            <p>
                Es folgenden demnächst Download-Möglichkeiten für Logos, Flyer, Broshüren und weiteres Infomaterial rund um das Alumni-Portal.
            </p>

            <h4 class="">Medienberichte & Partner</h4>

            <div class="row row-cols-1 row-cols-lg-4 g-3 mb-5 align-items-stretch">
                <div class="col">
                    <div class="h-100 bg-white p-3 ripplelink rounded-2 d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none w-100 d-flex flex-column align-items-center justify-content-center" href="https://www.treptow-kolleg.de" target="_blank">
                            <img src="{{ asset('images/tk.png') }}" class="" height="48" alt="Treptow-Kolleg Berlin Logo">
                            <span class="mt-2">Treptow-Kolleg Berlin</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 bg-white p-3 ripplelink rounded-2 d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none w-100 d-flex flex-column align-items-center justify-content-center" href="https://bundesring-kollegs.de/" target="_blank">
                            <svg height="48" role="graphics-document"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 308.87 285.44" style="max-height: 145px;" xml:space="preserve" preserveAspectRatio="xMinYMid meet">
<style type="text/css">
    .st0{fill:#706F6F;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#E50076;}
</style>
                                <g id="Ebene_3">
                                    <rect class="st0" width="252.89" height="252.89"></rect>
                                    <g>
                                        <path class="st1" d="M19.3,22.51h9.81c4.17,0,8.2,2.19,8.2,9.11c0,3.24-1.75,6.47-4.66,7.42v0.1c3.94,1.05,5.69,4.38,5.69,8.76
			c0,7.22-3.67,10.16-10.35,10.16H19.3V22.51z M23.24,37.84h4.53c1.66,0,5.42-0.45,5.42-5.93c0-3.73-1.61-5.83-5.51-5.83h-4.44
			V37.84z M23.24,54.47h5.38c4.17,0,5.6-3.14,5.6-6.57c0-4.88-2.82-6.77-6.27-6.77h-4.71V54.47z"></path>
                                        <path class="st1" d="M41.66,22.51h3.94V47.5c0,5.23,1.48,7.67,5.42,7.67c4.17,0,5.47-2.69,5.47-7.67V22.51h3.94V47.5
			c0,6.82-3.14,11.25-9.41,11.25c-6.45,0-9.37-3.88-9.37-11.25V22.51z"></path>
                                        <path class="st1" d="M64.74,22.51h5.11l10.58,29.67h0.09V22.51h3.94v35.55h-5.42L68.77,29.28h-0.09v28.78h-3.94V22.51z"></path>
                                        <path class="st1" d="M89.52,22.51h8.56c9.9,0,11.2,7.97,11.2,17.77c0,8.96-2.02,17.77-10.8,17.77h-8.96V22.51z M93.47,54.47h4.12
			c6.81,0,7.57-7.77,7.57-14.14c0-6.87-0.4-14.24-7.57-14.24h-4.12V54.47z"></path>
                                        <path class="st1" d="M113.5,22.51h16.54v3.88h-12.59v11.15h11.88v3.88h-11.88v12.75h13.13v3.88H113.5V22.51z"></path>
                                        <path class="st1" d="M147.29,31.72c0-3.73-1.21-6.32-4.98-6.32c-3.36,0-5.29,1.99-5.29,5.78c0,10.01,15.1,4.03,15.1,17.03
			c0,8.22-5.42,10.56-9.95,10.56c-7.48,0-9.68-4.28-9.68-11.85h3.94c0,3.98,0.27,8.27,6.01,8.27c3.14,0,5.56-2.49,5.56-6.27
			c0-10.06-15.1-4.23-15.1-17.28c0-3.29,1.25-9.81,9.37-9.81c6.14,0,8.83,3.34,8.96,9.91H147.29z"></path>
                                        <path class="st1" d="M155.58,22.51h10.35c5.06,0,8.2,3.29,8.2,8.91c0,3.78-1.21,8.02-4.93,8.96v0.1c2.82,0.35,4.35,2.89,4.53,5.92
			l0.27,6.07c0.13,3.93,0.76,4.93,1.7,5.58h-4.75c-0.72-0.8-0.94-3.39-1.08-5.13l-0.27-5.53c-0.36-4.88-2.73-5.18-4.75-5.18h-5.33
			v15.83h-3.94V22.51z M159.53,38.64h3.9c2.33,0,6.59,0.05,6.59-6.87c0-3.53-2.06-5.68-5.78-5.68h-4.71V38.64z"></path>
                                        <path class="st1" d="M178.31,22.51h3.94v35.55h-3.94V22.51z"></path>
                                        <path class="st1" d="M186.91,22.51h5.11l10.58,29.67h0.09V22.51h3.94v35.55h-5.42l-10.26-28.78h-0.09v28.78h-3.94V22.51z"></path>
                                        <path class="st1" d="M226.48,32.37c-0.22-3.73-1.39-6.97-5.33-6.97c-5.47,0-6.18,6.67-6.18,14.89s0.72,14.89,6.18,14.89
			c5.47,0,5.87-7.27,5.87-12h-6.32v-3.58h9.9v18.47h-2.96v-4.83h-0.09c-0.85,3.04-3.36,5.53-6.9,5.53c-8.38,0-9.81-8.91-9.81-18.47
			c0-8.96,1.48-18.47,10.31-18.47c9.14,0,9.46,8.71,9.46,10.56H226.48z"></path>
                                        <path class="st1" d="M19.7,74.22h8.56c9.9,0,11.2,7.97,11.2,17.77c0,8.96-2.02,17.77-10.8,17.77H19.7V74.22z M23.64,106.19h4.12
			c6.81,0,7.57-7.77,7.57-14.14c0-6.87-0.4-14.24-7.57-14.24h-4.12V106.19z"></path>
                                        <path class="st1" d="M42.15,74.22h16.54v3.88H46.1v11.15h11.88v3.88H46.1v12.75h13.13v3.88H42.15V74.22z"></path>
                                        <path class="st1" d="M60.84,74.22h10.35c5.06,0,8.2,3.29,8.2,8.91c0,3.78-1.21,8.02-4.93,8.96v0.1c2.82,0.35,4.35,2.89,4.53,5.92
			l0.27,6.07c0.13,3.93,0.76,4.93,1.7,5.58h-4.75c-0.72-0.8-0.94-3.39-1.08-5.13l-0.27-5.53c-0.36-4.88-2.73-5.18-4.75-5.18h-5.33
			v15.83h-3.94V74.22z M64.79,90.35h3.9c2.33,0,6.59,0.05,6.59-6.87c0-3.54-2.06-5.68-5.78-5.68h-4.71V90.35z"></path>
                                        <path class="st1" d="M90.73,74.22h3.94v17.23h0.09l11.07-17.23h4.39l-9.68,14.84l10.49,20.71h-4.39l-8.65-17.13l-3.32,5.03v12.1
			h-3.94V74.22z"></path>
                                        <path class="st1" d="M131.74,92c0,8.96-1.48,18.47-10.31,18.47s-10.31-9.51-10.31-18.47c0-8.96,1.48-18.47,10.31-18.47
			S131.74,83.03,131.74,92z M115.25,92c0,8.22,0.72,14.89,6.18,14.89s6.18-6.67,6.18-14.89s-0.72-14.89-6.18-14.89
			S115.25,83.78,115.25,92z"></path>
                                        <path class="st1" d="M134.92,74.22h3.94v31.67h13v3.88h-16.94V74.22z"></path>
                                        <path class="st1" d="M153.25,74.22h3.94v31.67h13v3.88h-16.94V74.22z"></path>
                                        <path class="st1" d="M171.58,74.22h16.54v3.88h-12.59v11.15h11.88v3.88h-11.88v12.75h13.13v3.88h-17.07V74.22z"></path>
                                        <path class="st1" d="M205.96,84.08c-0.22-3.73-1.39-6.97-5.33-6.97c-5.47,0-6.18,6.67-6.18,14.89s0.72,14.89,6.18,14.89
			c5.47,0,5.87-7.27,5.87-12h-6.32V91.3h9.9v18.47h-2.96v-4.83h-0.09c-0.85,3.04-3.36,5.53-6.9,5.53c-8.38,0-9.81-8.91-9.81-18.47
			c0-8.96,1.48-18.47,10.31-18.47c9.14,0,9.46,8.71,9.46,10.56H205.96z"></path>
                                        <path class="st1" d="M226.84,83.43c0-3.73-1.21-6.32-4.97-6.32c-3.36,0-5.29,1.99-5.29,5.78c0,10.01,15.1,4.03,15.1,17.03
			c0,8.22-5.42,10.56-9.95,10.56c-7.48,0-9.68-4.28-9.68-11.85h3.94c0,3.98,0.27,8.27,6,8.27c3.14,0,5.56-2.49,5.56-6.27
			c0-10.06-15.1-4.23-15.1-17.28c0-3.29,1.25-9.81,9.37-9.81c6.14,0,8.83,3.34,8.96,9.91H226.84z"></path>
                                    </g>
                                </g>
                                <g id="Ebene_2">
                                    <g>
                                        <path class="st2" d="M91.49,141.42c-48.97,4.18-74.79,35.26-74.79,35.26l12.52,21.22c14.2-26.89,37.26-37.35,62.27-39.02V141.42z"></path>
                                    </g>
                                    <g>
                                        <path class="st2" d="M163.86,154.16c-23.74-9.82-44.79-13.41-62.98-13.2v17.7c18.13,0.28,36.81,4.57,53.55,10.08L163.86,154.16z"></path>
                                    </g>
                                    <g>
                                        <path class="st2" d="M198.05,171.74c-7.7-4.72-15.18-8.81-22.42-12.32l-8.74,13.77c8.92,3.41,16.96,6.99,23.71,10.22
			L198.05,171.74z"></path>
                                        <path class="st2" d="M207.98,178.09l-7.06,10.48c6.66,3.49,10.57,5.85,10.57,5.85l6.96-9.04
			C214.92,182.81,211.43,180.39,207.98,178.09z"></path>
                                    </g>
                                    <path class="st2" d="M267.15,154.85l-25.39,2l48.35-63.66l18.76,70.96l-21.19-6.96c0,0-19.83,131.84-168.36,128.17
		c-102.59-2.53-105.4-90.95-105.4-90.95s30.39,91.55,127.66,75.84C242.8,253.91,261.24,173.71,267.15,154.85z"></path>
                                </g>
</svg>
                            <span class="mt-2">Bundesring der Kollegs</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 bg-white p-3 ripplelink rounded-2 d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none w-100 d-flex flex-column align-items-center justify-content-center" href="https://www.bundesring-abendgymnasien.de/" target="_blank">
                            <img src="{{ asset('images/avatar_no_text.svg') }}" class="" height="48" alt="unbekanntes Logo">
                            <span class="mt-2">Bundesring der Abendgymnasien</span>
                        </a>
                    </div>
                </div>
            </div>

            <h4>Kontakt für Medien & Kooperationen</h4>
            <p>
                Benjamin Wagner<br>
                Gülzower Str. 92<br>
                12619 Berlin<br>
            </p>
            <p>
                Telefon: +49 30-5771411-1<br>
                E-Mail: <a href="mailto:service@alumni-portal.org">service@alumni-portal.org</a><br>
            </p>

    </div>
</section>


{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}
{% endblock %}





