{% extends '_full.html.twig' %}

{% set meta_title = 'Rechtliches' %}
{% set meta_subtitle = 'Datenschutz' %}

{% set sidebar = 'events' %}

{% block page_header %}
<section class="py-3">
    <div class="container">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG:</p>
        <p>
            Benjamin Wagner<br>
            Gülzower Str. 92<br>
            12619 Berlin<br>
        </p>
        <p>
            <strong>Kontakt:</strong><br>
            Telefon: +4930 5771400<br>
            E-Mail: <a href="mailto:alumniportal@treptowkolleg.de">alumniportal@treptowkolleg.de</a><br>
        </p>
        <p>
            <strong>Vertreten durch:</strong><br>
            (Nur bei Unternehmen: Name des Geschäftsführers/Inhabers)<br>
        </p>
        <p>
            <strong>Umsatzsteuer-ID:</strong><br>
            (Falls zutreffend, gemäß §27a Umsatzsteuergesetz): DE123456789<br>
        </p>
        <p>
            <strong>Aufsichtsbehörde:</strong><br>
            (Falls zutreffend, z. B. bei reglementierten Berufen)<br>
            Name der Aufsichtsbehörde<br>
            Adresse der Aufsichtsbehörde<br>
        </p>
    </div>
</section>


{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}
{% endblock %}





