{% extends 'base.html.twig' %}

{% block title %}Almuni Portal{% endblock %}

{% block body %}

    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1>Alumni-Portal des Treptow-Kollegs Berlin</h1>
                <p class="lead mb-5">
                    Hier entsteht das Alumni-Portal für alle Alumni und Lehrkräfte des Kollegs zur Erhaltung und Pflege eines
                    Kompetenznetzwerks.
                </p>
                <a href="https://www.treptow-kolleg.de" target="_blank" class="btn btn-lg btn-secondary">Weiter zum Treptow-Kolleg Berlin<i class="ms-2 fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

{% endblock %}
