{% extends '_full.html.twig' %}

{% set meta_title = 'Rechtliches' %}
{% set meta_subtitle = 'Datenschutz' %}
{% set meta_description = 'Informationen zum Datenschutz für Nutzerinnen und Nutzer des Alumni-Portals des zweiten Bildungsweges' %}

{% set seo_title = 'Impressum und die Verantwortlichen' %}

{% set sidebar = 'privacy' %}

{% block page_header %}
<section class="py-5">
    <div class="container">
        <h3 class="h5">Informationen zum Datenschutz für Nutzerinnen und Nutzer des Alumni-Portals des zweiten Bildungsweges</h3>
        <h4 class="h3 text-primary">Datenschutzerklärung</h4>
        <p>
            Wir verarbeiten Ihre personenbezogenen Daten unter Beachtung der geltenden datenschutzrechtlichen Bestimmungen, insbesondere der EU-Datenschutz-Grundverordnung (DSGVO) und des Berliner Datenschutzgesetzes (BlnDSG).
        </p>
        <p>
            Das Alumni-Portal des zweiten Bildungsweges wurde von Lernenden des Treptow-Kollegs Berlin entwickelt und wird von diesen betrieben. In dieser Datenschutzerklärung informieren wir Sie darüber, welche Daten wir erheben und wie wir sie verarbeiten.
        </p>
        <h4 class="h3 text-primary">Inhaltsverzeichnis</h4>

        <ol class="mb-5">
            <li><a href="#1">Verantwortlich für die Datenverarbeitung</a></li>
            <li><a href="#2">Gegenstand des Datenschutzes</a></li>
            <li><a href="#3">Zweck, Umfang und Rechtsgrundlagen der Datenverarbeitung</a></li>
            <li><a href="#4">Empfänger Ihrer Daten</a></li>
            <li><a href="#5">Speicherdauer Ihrer Daten</a></li>
            <li><a href="#6">Ihre Rechte</a></li>
            <li><a href="#7">Weiterführende Informationen zur Datenverarbeitung</a></li>
        </ol>

        <h3 id="1" class="h5 text-primary"><span class="d-inline-block me-2" style="width: auto">1</span> Verantwortlich für die Datenverarbeitung</h3>
        <p>
            Verantwortlich für die Datenverarbeitung ist <span class="">Benjamin Wagner, Gülzower Str. 92, 12619 Berlin, Telefon: +49 30-5771411-1</span>, www.alumni-portal.org
        </p>

        <h3 id="2" class="h5 text-primary"><span class="d-inline-block me-2" style="width: auto">2</span> Gegenstand des Datenschutzes</h3>
        <p>
            Gegenstand des Datenschutzes sind personenbezogene Daten nach Art. 4 Nr. 1 DSGVO, d.h. alle Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen.
        </p>
        <p>
            Dazu gehören Kontaktdaten wie zum Beispiel Namen, E-Mail-Adressen oder Telefonnummern. Ebenso fallen hierunter Inhaltsdaten wie sie im Beschäftigten- und Bewerbungskontext typischerweise vorkommen, also etwa Lebensläufe, Zeugnisse, Arbeitszeugnisse und sonstige Qualifikationsnachweise. Inhaltsdaten sind aber auch die binnen einer Plattform erstellte Nutzerkommentare oder Postings. Und selbstverständlich gehören zu den personenbezogenen Daten auch Nutzungsdaten wie IP-Adressen, Login-Daten oder die protokollierten Aufrufe von bestimmten Seiten oder Inhalten.
        </p>

        <h3 id="3" class="h5 text-primary"><span class="d-inline-block me-2" style="width: auto">3</span> Zweck, Umfang und Rechtsgrundlagen der Datenverarbeitung</h3>
        <p>
            Im Folgenden klären wir Sie über Zweck, Umfang und die Rechtsgrundlagen der Datenverarbeitung im Zusammenhang mit der Nutzung des Alumni-Portals auf.
        </p>
        <h4 class="h6 text-primary"><span class="d-inline-block me-2" style="width: auto">3.1</span> Zweck der Datenverarbeitung</h4>
        <p>
            Primärer Zweck des Alumni-Portals ist es, eine Kommunikationsplattform als zentrale Anlaufstelle zur Verfügung zu stellen, über die Alumni mit ehemaligen Lernenden, Lehrkräften und Angestellten in Kontakt bleiben, sich suchen, finden und miteinander kommunizieren und sich über Neuigkeiten und Angebote an Ihrer Alma Mater informieren können. Die Plattform dient aufgrund der Vernetzungsmöglichkeiten daneben dem Austausch über die persönliche und berufliche Weiterbildung und –entwicklung. Sie kann nicht nur von Alumni, sondern auch von Mitgliedern der jeweiligen Bildungseinrichtungen zur Kommunikation, zum Austausch mit anderen Mitgliedern und den im Portal registrierten Alumni sowie als Informationsquelle zu Angeboten der jeweiligen Bildungseinrichtungen verwendet werden.
        </p>
        <p>
            Für Informationen über Aktuelles, Angebote, Veranstaltungen und Höhepunkte nutzen wir zusätzlich den Newsletter.
        </p>
        <p>
            Darüber hinaus wird die Kommunikationsplattform auch für die Durchführung von Umfragen und die Erstellung von Jahrbüchern der jeweiligen Bildungseinrichtungen genutzt.
        </p>

        <h4 class="h6 text-primary"><span class="d-inline-block me-2" style="width: auto">3.2</span> Umfang der Datenverarbeitung</h4>
        <p>
            Wenn Sie das Alumni-Portal aktiv nutzen, um sich selbst über aktuelle Geschehnisse, vakante Stellen und/oder Alumni-Events zu informieren sowie diesbezüglich interagieren möchten, etwa, indem Sie Artikel von uns kommentieren, Inhalte selbst einstellen oder Ihre Teilnahme an Events erklären, verarbeiten wir die folgenden Daten von Ihnen, die üblicherweise im Rahmen einer interaktiven Nutzung unserer Plattform entstehen können. Hierzu gehören folgende Daten:
        </p>
        <h5 class="h6 fw-bolder text-primary"><span class="d-inline-block me-2" style="width: auto">3.2.1</span> Inhaltsdaten</h5>
        <ul>
            <li>das auf der Plattform sichtbare, von Ihnen ausgefüllte Profil einschließlich von Ihnen verfasste Artikel oder Kommentare zu Inhalten wie Artikel, Videos, Event- oder Workshop-Ankündigungen</li>
            <li>von Ihnen erstellte und hochgeladene Artikel, Fotografien, Videos</li>
            <li>Teilnahmemitteilungen und weitere Informationen bezüglich Events oder Workshops</li>
            <li>Gruppen- und/oder Schulzugehörigkeiten</li>
            <li>"Likes" von Inhalten oder Kommentaren</li>
            <li>Kontaktanfragen und –verbindungen</li>
            <li>Umfrageteilnahmen</li>
            <li>Nachrichten der Nutzenden untereinander</li>
            <li>Nachrichten an den Verein und seine Mitglieder</li>
            <li>Interessensbekundungen etwa im Hinblick auf Stellen, Stipendien, Weiterbildungsangebote, Mentoren</li>
            <li>Anmeldung zu Newslettern</li>
        </ul>

        <h5 class="h6 fw-bolder text-primary"><span class="d-inline-block me-2" style="width: auto">3.2.2</span> Allgemeine sonstige Nutzungsdaten</h5>
        <ul>
            <li>IP-Adresse</li>
            <li>LogIn-Daten</li>
            <li>Öffnung von Newslettern oder Klicks auf Newsletterinhalte (siehe <a href="#">Sendgrid</a>)</li>
        </ul>


        <h4 class="h6 text-primary"><span class="d-inline-block me-2" style="width: auto">3.3</span> Rechtsgrundlagen der Datenverarbeitung</h4>
        <h5 class="h6 fw-bolder text-primary"><span class="d-inline-block me-2" style="width: auto">3.3.1</span> Die Nutzung des Alumni-Portals als Kommunikationsplattform</h5>
        <p>
            Die im Zusammenhang mit der aktiven Nutzung des Portals als Kommunikationsplattform stehende Datenverarbeitung findet auf der Grundlage von Art. 6 Abs. 1 S. 1 lit. b DSGVO statt. Diese Rechtsgrundlage erlaubt Datenverarbeitungen, soweit sie für die Erfüllung eines Vertrags erforderlich ist. Mit der Registrierung im Alumni-Portal kommt zwischen Ihnen und <span class="">Benjamin Wagner</span> ein unentgeltlicher Nutzungsvertrag zustande, der auf den Seiten des Alumni-Portals die Verpflichtung begründet, Ihnen für den Zeitraum Ihrer Mitgliedschaft das Portal als Kommunikationsplattform zur Verfügung zu stellen. Die Verarbeitung Ihrer personenbezogenen Daten, welche in Erfüllung dieser Verpflichtung erfolgt, ist von Art. 6 Abs. 1 S. 1 lit. b DSGVO erfasst. Das betrifft vor allem die im Portal von Ihnen zur Verfügung gestellten Inhaltsdaten zu Ihrem Profil einschließlich der von Ihnen verfassten Artikel, "Likes", Interessenbekundungen und Nachrichten.
        </p>
        <p>
            Soweit die Datenverarbeitung über diesen Hauptzweck des Nutzungsvertrags hinausgeht, sind folgende Rechtsgrundlagen einschlägig:
        </p>

        <h5 class="h6 fw-bolder text-primary"><span class="d-inline-block me-2" style="width: auto">3.3.2</span> Die Nutzung von weiteren Services auf der Grundlage einer Einwilligung</h5>
        <p>
            Ihre Einwilligung nach Art. 6 Abs. 1 S. 1 lit. a DSGVO ist erforderlich für die Datenverarbeitung im Zusammenhang mit:
        </p>
        <ul>
            <li>dem Abonnement von Newslettern</li>
            <li>der Teilnahme an Umfragen im Portal</li>
            <li>die Übermittlung Ihrer Daten an den <span class="">Förderverein des Treptow-Kollegs Berlin e. V.</span> zur Begründung einer Mitgliedschaft</li>
        </ul>
        <p>
            Die Einwilligungserklärungen werden bei Inanspruchnahme der jeweiligen Dienstleistungen erteilt.
        </p>
        <p>
            Sie haben das Recht, von Ihnen erteilte Einwilligungen jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.
        </p>

        <h5 class="h6 fw-bolder text-primary"><span class="d-inline-block me-2" style="width: auto">3.3.3</span> Die Datenverarbeitung zur Wahrnehmung berechtigter Interessen</h5>
        <p>
            Gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO können personenbezogene Daten verarbeitet werden, soweit dies zur Wahrung berechtigter Interessen des Verantwortlichen oder eines Dritten erforderlich ist. Folgende Daten werden hierzu vom Webhosting-Service-Provider (WSP) gespeichert:
        </p>
        <ul>
            <li>Ihre IP-Adresse zur Gewährleistung der Sicherheit des Portals</li>
            <li>der von Ihnen verwendete Browser und das von Ihnen genutzte Betriebssystem</li>
        </ul>

        <h3  id="4" class="h5 text-primary"><span class="d-inline-block me-2" style="width: auto">4</span> Empfänger Ihrer Daten</h3>
        <p>
            Das Alumni-Portal wird auf Servern von IONOS SE betrieben. Dementsprechend werden alle mithilfe des Portals verarbeiteten personenbezogenen Daten an IONOS SE übermittelt. IONOS SE speichert diese Daten in unserem Auftrag auf der Grundlage eines Auftragsdatenverarbeitungsvertrags.
        </p>

        <h3 id="5" class="h5 text-primary"><span class="d-inline-block me-2" style="width: auto">5</span> Speicherdauer Ihrer Daten</h3>
        <h4 class="h6 text-primary"><span class="d-inline-block me-2" style="width: auto">5.1</span> Inhaltsdaten</h4>
        <p>
            Ihre im Zusammenhang mit der Nutzung des Portals als Kommunikationsplattform anfallenden personenbezogenen Daten verarbeiten wir zunächst ohne zeitliche Begrenzung; denn mit Ihnen kommt durch die Registrierung im Portal ein zeitlich nicht von vornherein befristeter, unentgeltlicher Vertrag über die Nutzung des Alumni-Portals zustande. Im Rahmen Ihrer Mitgliedschaft im Portal möchten wir den Kontakt zu Ihnen langfristig halten und Ihnen die Nutzung der Kommunikationsplattform anbieten. Selbstverständlich haben Sie die Möglichkeit Ihre Mitgliedschaft im Portal jederzeit zu beenden. Ihre im Portal gespeicherten Daten werden dann gelöscht. Zur Beendigung Ihrer Mitgliedschaft können Sie sich schriftlich oder per E-Mail wenden an:
        </p>
        <p>
            <span class="">Benjamin Wagner, Gülzower Str. 92, 12619 Berlin</span>, service@alumni-portal.org
        </p>
        <h4 class="h6 text-primary"><span class="d-inline-block me-2" style="width: auto">5.2</span> IP-Adressen und Logfiles</h4>
        <p>
            Wir speichern Ihre IP-Adresse in den Logfiles für sieben Tage aus Gründen der Sicherheit und der Netzwerkintegrität. So können wir unter anderen Brut Force und Denial of Service Angriffe besser erkennen und schneller unterbinden.
        </p>

        <h3 id="6" class="h5 text-primary"><span class="d-inline-block me-2" style="width: auto">6</span> Ihre Rechte</h3>
        <p>
            Sie haben das Recht, von Ihnen erteilte Einwilligungen jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.
        </p>
        <p>
            Sie haben das Recht, von uns Auskunft über die Verarbeitung Sie betreffender, personenbezogener Daten zu verlangen. Dieses Auskunftsrecht umfasst neben einer Kopie der personenbezogenen Daten auch Angaben zu dem Zweck der Datenverarbeitung, Datenempfängern sowie der Speicherdauer.
        </p>
        <p>
            Sollten unrichtige personenbezogene Daten verarbeitet werden, können Sie von uns die Berichtigung dieser Daten verlangen. Liegen die gesetzlichen Voraussetzungen aus Art. 17 bzw. 18 DSGVO vor, steht Ihnen zudem grundsätzlich das Recht auf Löschung personenbezogener Daten oder auf eine Einschränkung der Verarbeitung zu. Bitte beachten Sie, dass eine eingeschränkte Verarbeitung der Daten unter Umständen nicht möglich ist. Sie haben das Recht, Ihre personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen (Art. 20 DSGVO).
        </p>
        <p>
            Soweit die Datenverarbeitung ohne Ihre Einwilligung zulässig ist, können Sie unter den Voraussetzungen von Art. 21 DSGVO der Verarbeitung widersprechen.
        </p>
        <p>
            Wenden Sie sich zur Ausübung Ihrer oben genannten Rechte an:
        </p>
        <p>
            <span class="">Benjamin Wagner, Gülzower Str. 92, 12619 Berlin</span>, service@alumni-portal.org
        </p>
        <p>
            Falls Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen Daten nicht rechtmäßig erfolgt, haben Sie das Recht, bei der zuständigen Aufsichtsbehörde für den Datenschutz eine Beschwerde einzureichen.
        </p>

        <h3 id="7" class="h5 text-primary"><span class="d-inline-block me-2" style="width: auto">7</span> Weiterführende Informationen zur Datenverarbeitung</h3>
        <p>
            Ohne IP-Adressen würde das Internet nicht funktionieren, denn sie sind so etwas wie digitale Adressen, die es Computern ermöglichen, miteinander zu kommunizieren.
        </p>
        <p>
            Wenn Sie das Alumni-Portal besuchen, stellt Ihr Computer oder Smartphone eine Verbindung zum Webserver her, auf dem die Seite gespeichert ist. Damit der Server die gewünschten Inhalte an Sie zurücksenden kann, muss er Ihre IP-Adresse kennen. Während dieser Anfrage speichert der Server für kurze Zeit einige technische Informationen, darunter die IP-Adresse, die aufgerufene Seite oder Datei sowie den verwendeten Browser und das Betriebssystem. Diese gespeicherten Daten nennt man „Logfile“. Sie helfen dabei, den Serverbetrieb sicherzustellen und eventuelle Fehler zu erkennen.
        </p>
        <p>
            Wir speichern Ihre IP-Adresse in den Logfiles für sieben Tage aus Gründen der Sicherheit und der Netzwerkintegrität. So können wir unter anderen Brut Force und Denial of Service Angriffe besser erkennen und schneller unterbinden.
        </p>

    </div>
</section>


{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}
{% endblock %}





