{% extends 'base.html.twig' %}

{% block title %}Mein Mitgliederbereich{% endblock %}

{% block page_header %}
    <h1 class="h3">Mein Mitgliederbereich</h1>
    <h2 class="h5 mb-5 text-primary">
        Verwalte dein Profil und deine Vereinsmitgliedschaft bequem online.
    </h2>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="card card-body bg-body-tertiary border-primary h-100">
                <h3 class="h4">Profil</h3>
                <p class="lead">
                    Teile deine Expertise
                </p>
                <p class="card-text">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">bearbeiten<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card card-body bg-body-tertiary border-primary h-100">
                <h3 class="h4">Angebote</h3>
                <p class="lead">
                    Biete Lern- und Arbeitsgemeinschaften an
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">bearbeiten<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card card-body bg-body-tertiary border-primary h-100">
                <h3 class="h4">Engagement</h3>
                <p class="lead">
                    Unterstütze die Vereinsarbeit
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">bearbeiten<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        {% if is_granted('ROLE_AUTHOR') %}
        <div class="col">
            <div class="card card-body bg-body-tertiary border-secondary h-100">
                <h3 class="h4">Blog</h3>
                <p class="lead">
                    Beiträge verwalten
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">Autoren<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card card-body bg-body-tertiary border-secondary h-100">
                <h3 class="h4">Projekte</h3>
                <p class="lead">
                    Projekte verwalten
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">Autoren<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card card-body bg-body-tertiary border-secondary h-100">
                <h3 class="h4">Veranstaltungen</h3>
                <p class="lead">
                    Termine verwalten
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">Autoren<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card card-body bg-body-tertiary border-secondary h-100">
                <h3 class="h4">Newsletter</h3>
                <p class="lead">
                    Benachrichtigungen verfassen
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">Autoren<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <div class="col">
            <div class="card card-body bg-body-tertiary border-danger-subtle h-100">
                <h3 class="h4">Mitglieder</h3>
                <p class="lead">
                    Benutzerkonten verwalten
                </p>
                <p class="card-text mt-auto">
                    <a href="{{ path('admin_user_index') }}" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">Administration<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block body %}
    <h2 class="h4">Meine Daten</h2>
    <ul class="list-group mb-5">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 fw-bold">Name</div>
                <div class="col-md-8">{{ app.user.lastname }}, {{ app.user.firstname }}</div>
            </div>

        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 fw-bold">E-Mail-Adresse</div>
                <div class="col-md-8">{{ app.user.email }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 fw-bold">Mitgliedsnummer</div>
                <div class="col-md-8">nicht dem Verein beigetreten</div>
            </div>
        </li>
    </ul>
{% endblock %}
{% block aside %}
    <h2 class="h4">Newsletter</h2>
    <div class="card card-body text-bg-white mb-2">
        <div class="d-flex justify-content-between align-items-center">
            <div>abonniert</div><div><i class="fas fa-check text-success"></i></div>
        </div>
    </div>
    <a href="#" class="float-md-end d-block text-center">abbestellen</a>
{% endblock %}