<h1>Hallo {{ user }}! Bitte bestätige deine E-Mail-Adresse!</h1>

<p>
    Bitte bestätige deine E-Mail-Adresse, indem du auf den folgenden Link klickst: <br><br>
    <a href="{{ signedUrl|raw }}">E-Mail-Adresse bestätigen</a>.
    Dieser Link läuft ab in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Viele Grüße, dein Alumni-Portal!
</p>
