<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrierung abschließen</title>
</head>
<body>
    <h3>Hallo {{ user.firstname }} {{ user.lastname }}!</h3>
    <p>
        Bitte bestätige deine E-Mail-Adresse, indem du auf den folgenden Link klickst: <br><br>
        <a href="{{ signedUrl|raw }}">E-Mail-Adresse bestätigen</a>.
        Dieser Link läuft in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }} ab.
    </p>

    <p>
        Viele Grüße, dein Alumni-Portal!
    </p>
</body>
</html>
