{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">Willkommen in der Community</h1>
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <i class="fa fa-2x fa-circle-info me-3 d-none d-md-flex"></i>
        <div>
            Um dein Konto zu aktivieren, bestätige bitte deine E-Mail-Adresse, indem du auf den Aktivierungslink klickst, den wir dir gerade gesendet haben.
        </div>
    </div>
    <p class="small">
        Solltest du die E-Mail nicht innerhalb weniger Minuten erhalten, überprüfe bitte auch deinen Spam-Ordner oder den Ordner für unerwünschte E-Mails.
    </p>
    <p>
        Falls du Fragen hast oder Unterstützung benötigst, stehen wir dir jederzeit gerne zur Verfügung.
    </p>
{% endblock %}
