{% extends '_empty.html.twig' %}

{% set meta_title = 'Passwort zurücksetzen' %}


{% block body %}
    <h1>Passwort aktualisieren</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Neues Passwort speichern</button>
    {{ form_end(resetForm) }}
{% endblock %}
