{% extends 'base.html.twig' %}

{% block title %}Veranstaltung anlegen{% endblock %}

{% block page_header %}
    <h1 class="h3">Event-Typ anlegen</h1>
    <h2 class="h5 text-primary">Organisiere deine Veranstaltungen</h2>
{% endblock %}
{% block body %}
    {{ include('authoring/event_type_form.html.twig',{'button':'Speichern'}) }}
{% endblock %}
