{% extends 'base.html.twig' %}

{% block title %}Veranstaltung anlegen{% endblock %}

{% block page_header %}
    <h1 class="h3">Veranstaltung anlegen</h1>
    <h2 class="h5 text-primary">Plane deine nächste Veranstaltung</h2>
{% endblock %}
{% block body %}
    {{ include('authoring/event_form.html.twig',{'button':'Speichern'}) }}
{% endblock %}
