{% extends '_full.html.twig' %}

{% set meta_title = 'Aktuelles' %}
{% set meta_subtitle = 'Themen und Neuigkeiten' %}

{% set seo_title = 'Aktuelle Themen, Nachrichten und Veranstaltungen' %}

{% set sidebar = 'news' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 align-content-stretch">
            <div class="col">
                <div class="card card-body shadow-sm bg-white border-primary h-100">
                    <h3 class="h5 mb-lg-5">Aktuelle Meldungen</h3>
                    <a href="{{ path('blog_news_index') }}" class="card-link stretched-link text-decoration-none  mt-auto fs-5">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body shadow-sm bg-white border-primary h-100">
                    <h3 class="h5  mb-lg-5">Themen-Blog</h3>
                    <a href="{{ path('blog_index') }}" class="card-link stretched-link text-decoration-none mt-auto fs-5">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body shadow-sm bg-white border-primary h-100">
                    <h3 class="h5  mb-lg-5">Presse</h3>
                    <a href="#" class="card-link stretched-link text-decoration-none mt-auto fs-5">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body shadow-sm bg-white border-primary h-100">
                    <h3 class="h5  mb-lg-5">Veranstaltungen</h3>
                    <a href="{{ path('event_index') }}" class="card-link stretched-link text-decoration-none mt-auto fs-5">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body shadow-sm bg-white border-primary h-100">
                    <h3 class="h5  mb-lg-5">Wahlen</h3>
                    <a href="#" class="card-link stretched-link text-decoration-none mt-auto fs-5">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}

{% endblock %}
