{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Portal' %}
{% set meta_subtitle = 'Postfach' %}
{% set sidebar = 'profile-chat' %}

{% set seo_title = 'Kontakte' %}

{% block page_header %}
<section class="py-3">
    <div class="container">
        {{ include('component/profile_subbar.html.twig',{'selected':'chat'}) }}

        {% if not chats %}
            <p class="">Um mit jemandem zu chatten, suche bitte zuerst die entsprechende Person aus dem Personenverzeichnis aus.</p>
        {% endif %}

        <div class="row g-3">
            <div class="col-lg-12">
                <div class="card bg-white">
                    <div class="card-body  border-bottom border-primary">
                        <h3 class="h5 mb-0 text-center text-lg-start">Kontakte</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for chat in chats|sort %}
                            {% set message_unread = 0 %}
                            {% for message in chat.messages %}
                                {% if message.sender != app.user and not message.isRead %}
                                    {% set message_unread = message_unread + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if chat.owner == app.user %}
                                {{ include('component/_chat_list.html.twig',{'chat':chat, 'user':chat.participant, 'message':message_unread}) }}
                            {% else %}
                                {{ include('component/_chat_list.html.twig',{'chat':chat, 'user':chat.owner, 'message':message_unread}) }}
                            {% endif %}
                        {% else %}
                            <div class="list-group-item">Noch keine Konversationen vorhanden.</div>
                        {% endfor %}
                        <a href="{{ url('people_index') }}" class="list-group-item list-group-item-action link-primary fw-bolder d-flex align-items-center justify-content-between">
                            <div>weitere Personen finden</div>
                            <i class="bx bxs-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{% endblock %}


{% block body %}{% endblock %}
{% block aside %}
    <script>
        let tableOptions = {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
        }

        let table = new DataTable('#datatable', {
            fixedHeader: true,
            responsive: true,
            searching: true,
            pageLength: 25,
            lengthChange: false,
            order: [[2, 'desc']],
            "language": tableOptions,
            columnDefs: [
                { width: '70%', targets: 1 },
                { type: 'date-de', targets: 2 }
            ]
        });

        $('tbody').on('click', 'tr', function() {
            window.location.href = $(this).data('url')
        });
    </script>
{% endblock %}