

// prepare vars
$enable-caret: true;
$fa-font-path: "../../node_modules/font-awesome/fonts";
$font-size-base: 1rem;
$font-weight-normal: 300;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url("https://use.typekit.net/elf7icg.css");


$font-family-sans-serif: "IBM Plex Sans", serif;
$enable-shadows: false;
$enable-gradients: true;
$enable-rounded: false;

$systemBlue: #294a70;
$systemBlue2: #294a7055;
$systemGreen:	rgba( 52,199, 89,1);
$systemIndigo:	rgba( 88, 86,214,1);
$systemOrange:	rgba(255,149,  0,1);
$systemPink:	rgba(255, 45, 85,1);
$systemPurple:	rgba(175, 82,222,1);
$systemRed:	    rgba(255, 59, 48,1);
$systemTeal:	rgba( 90,200,250,1);
$systemYellow: #eea943;




$systemGray:	rgba(142,142,147,1);
$systemGray2:	rgba(174,174,178,1);
$systemGray3:	rgba(199,199,204,1);
$systemGray4:	rgba(209,209,214,1);
$systemGray5:	rgba(229,229,234,1);
$systemGray6:	#F3F4F5;

$clear: 		rgba(  0,  0,  0,0);
$full-black:	rgba( 8, 8, 12,1);
$black:		    rgba( 32, 32, 32,1);
$white:		    rgba(255,255,255,1);


$body-bg:       lighten($systemGray6,3);
$body-color:    rgba($black,.9);
$table-striped-bg: lighten($systemGray6,1.5);
$list-group-hover-bg: rgb(248,249,250) !important;
$list-group-action-active-bg: darken($systemGray6,2);
$table-hover-bg: rgb(248,249,250) !important;
$link-color: $systemGray;


.bg-lighter{background-color: lighten($systemGray6,1)!important;}


$grays: (
        "100": $systemGray6,
        "200": $systemGray6,
        "300": $systemGray5,
        "400": $systemGray5,
        "500": $systemGray4,
        "600": $systemGray4,
        "700": $systemGray3,
        "800": $systemGray2,
        "900": $systemGray,
);

$input-bg:                              rgba($white,.8);
$input-disabled-bg:                     rgba($systemGray5,.8);
$input-color:                           $body-color;
$input-border-color:                    $systemGray6;
$border-color:                      $systemGray5;
$input-border-color:                $systemGray5;
$input-focus-border-color:          $systemBlue;

$theme-colors: (
        "primary":    $systemBlue,
        "global":     $systemBlue2,
        "secondary":  $systemYellow,
        "success":    $systemGreen,
        "warning":    $systemOrange,
        "danger":     $systemRed,
        "info":       $systemTeal,
        "light":      rgb(248,249,250),
        "off":        $systemGray3,
        "dark":       $black,
        "black":       $full-black,
        "white":      $white,
        "side":       $body-bg
);


// Input Forms
//======================================================================================================================

$input-bg:                              rgba($white,.8);
$input-disabled-bg:                     rgba($systemGray5,.8);
$input-color:                           $body-color;
$input-border-color:                    $systemGray6;


// Component Settings
//======================================================================================================================

$component-active-bg:               rgba($systemBlue,.9);
$input-btn-focus-width:             1px;
$link-hover-color:                  $systemBlue;

$border-color:                      $systemGray5;
$input-border-color:                $systemGray5;
$input-focus-border-color:          $systemBlue;

$border-radius:                     .3rem;
$border-radius-lg:                  .3rem;
$border-radius-sm:                  .2rem;
$grid-gutter-width:                 2.5rem;


// Card Colors
//======================================================================================================================

$card-border-color:                 $input-border-color;

// List Group
//======================================================================================================================
$list-group-bg:                     rgba($white,.8);
$list-group-hover-bg:               rgba($systemGray5,.1);
$list-group-action-active-bg:       rgba($systemGray5,.2);
$list-group-border-color:           $card-border-color;

// include Bootstrap
@import "../../vendor/twbs/bootstrap/scss/bootstrap";

trix-editor{
  background-color: rgba(255, 255, 255, 0.8);
  border: var(--bs-border-width) solid rgb(229, 229, 234);
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

trix-editor:focus{
  border: var(--bs-border-width) solid $black;
}

nav,.offcanvas,.modal-header,.modal-footer, .toast{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}


.ws-dropdown {
  position: relative!important;
  display: inline-block!important;
}

.ws-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 11000;
}

.ws-dropdown:hover .ws-dropdown-content {
  display: block!important;
}

.dt-info,.dt-length{
  font-size: .8rem!important;
}

.dt-length > select {
  margin-right: .5rem;
  font-size: .8rem!important;
}

.dt-search, .dt-paging > * {
  font-size: .8rem!important;
}

.dt-search > label {
  margin-right: .5rem;
}

.dt-paging,.dt-search{
}

#table tr td:first-child, #table tr th:first-child {
  padding-left: 1.5rem!important;
}
#table tr td:last-child, #table tr th:last-child {
  padding-right: 1.5rem!important;
}

.dt-input, .dt-input:focus {
  box-shadow: none!important;
  transition: all .1s linear!important;
}

.dt-input {
  background-clip: padding-box!important;
  background-color: #fff!important;
  border: 1px solid #bdbdbd!important;
  border-radius: .25rem!important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075)!important;
  color: #4f4f4f!important;
  transition: all .2s linear!important;
}
.dt-input, .dt-input:focus {
  background-color: var(--bs-body-bg)!important;
  color: var(--bs-body-color)!important;
}
.dt-input {
  border: var(--bs-border-width) solid var(--bs-border-color)!important;
  border-radius: var(--bs-border-radius)!important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out!important;
}

input.form-control.is-invalid ~ trix-editor {
  border-color: $systemRed!important;
}

.focus {
  background-clip: padding-box!important;
  background-color: $input-focus-bg!important;
  border: solid $input-border-width $input-focus-border-color!important;
  outline: 0!important;
}

.bootstrap-tagsinput {
  box-shadow: none!important;
  background-color: $input-bg!important;
  border: $input-border-width solid $input-border-color;
  display: block!important;
  width: 100%!important;
  padding: 0.375rem 0.75rem!important;
  font-size: 1rem!important;
  font-weight: 300!important;
  line-height: 1.5!important;
  color: rgba(32, 32, 32, 0.9)!important;
  appearance: none!important;
  background-clip: padding-box!important;
  border-radius: 0!important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
}

.bootstrap-tagsinput .tag {
  background: $systemGray6;
  border: 0;
  padding: 2px 6px;
  margin-right: 2px;
  color: $black;
  border-radius: 0;
}

.navbar-nav .nav-link.active {
  color: $systemBlue!important;
  font-weight: bolder;
}

.select2-selection{
  border-radius: 0!important;
  border: 1px solid $systemGray5!important;
  padding: .325rem!important;
}

.select2-selection--single{
  height: 2.5rem!important;
}

.select2-selection__arrow{
  margin-top: .325rem!important;
  margin-right: .325rem!important;
}

.table > tbody > tr > td {
  background-color: $white;
}

.table > thead > tr > th {
  background-color: rgb(248,249,250) !important;
  border-bottom: 1px solid $systemBlue!important;
}

.nav-sidebar > li > a:not(.active):hover {
  background-color: rgb(238,239,240)!important;
}

.nav-sidebar > li > .nav-text {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.nav-sidebar > .nav-item > .nav-text, .dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 1.25rem!important;
  border-bottom: 1px solid $systemBlue!important;
}

.nav-sidebar > .nav-item:not(:first-child) > .nav-text {
  margin-top: .5rem;
}

.nav-sidebar > .nav-item, .dashboard-title {
  margin-bottom: .5rem;
}

.global-nav {
  background-color: rgba(243,244,245,.8)!important;
  z-index: 1000!important;
}



label, .label {
  color: $systemBlue!important;
  fill: $systemBlue!important;
  font-weight: bolder;
}

.toast {

}



.dashboard-title {
  padding: $nav-link-padding-y 0;
  margin-bottom: 1.75rem;
}

.form-control, .dt-input {
  border: none;
  border-bottom: 1px solid $systemGray4!important;
}

.ss-content{
  z-index: 900!important;
}


.custom-select, .ss-search > input, .dt-input, .dt-input:focus, .dt-input:active{
  border: none!important;
  border-bottom: 1px solid $systemGray4!important;
  border-radius: 0!important;
  box-shadow: none!important;
  padding: 0.375rem 0.5rem!important;
  font-size: 1rem!important;
  font-weight: 300!important;
  line-height: 1.5!important;
  color: rgba(32, 32, 32, 0.9);
  min-height: 37px!important;
}

.ss-value {
  background-color: $systemBlue!important;
}

.ss-values {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ss-search {
  padding: 0!important;
}

.dt-search {
  display: none!important;
}

.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected, .ss-max {
  color: $white!important;
  background-color: $systemBlue!important;
}

.ss-content .ss-list .ss-option:hover {
  color: $systemBlue!important;
  background-color: rgb(238,239,240)!important;
}

.form-control:disabled {
  background-color: rgb(243,244,245)!important;
  border-bottom: 1px solid $systemBlue!important;
}

.form-control:focus, .dt-input:focus, .dt-input:active {
  outline: none;
  box-shadow: none!important;
  border-bottom: 1px solid $systemBlue!important;
}

.dt-container > .bottom {
  padding: .5rem !important;
  display: flex;
  justify-content: center;
}

.dropdown-item, .dropdown-item:focus {
  color: $systemGray;
}

.dropdown-item:hover {
  color: $systemBlue;
}

.dropdown-item:active {
  color: $white!important;
}

.slim-form{
  margin-top: 1.5rem;
  position: relative;
}

.slim-form > label {
  transform-origin: 0 0;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  position: absolute;
  top: 0;
  left: -.125rem;
  z-index: 2;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  margin-top: -1.25rem;
}

.bd-links-link {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1rem;
  color: var(--bs-body-color);
  text-decoration: none;
}

.bd-links-link:hover, .bd-links-link:focus, .bd-links-link:active {
  background-color: rgb(238,239,240);
}

.dt-search, .dt-info, .dt-paging {
  padding-left: .75rem;
  padding-right: .75rem;
}

tbody > tr > td {
  font-size: .9rem!important;
}

.dt-column-title {
  font-size: .9rem;
  font-weight: normal;
}

.list-group-item-group a:hover {
  background-color: $list-group-hover-bg;
}

.marker-secondary {
  position: relative;
}

.marker-secondary:after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: -11px;
  content: " ";
  border-radius: 1rem;
  border: 3px solid $systemYellow;
  background-color: $systemYellow;
  width: 4px;
  height: 4px;
}



.ripplelink{
  text-decoration:none;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: .8;
}

.ripplelink:hover{
  z-index:400;
  box-shadow:rgba(0, 0, 0, 0.1) 0 0 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 0 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.1) 0 0 16px 0;
  opacity: 1;
}

.swipe-link-end:hover{
  padding-right: 1.5rem!important;
}

.swipe-link-start:hover{
  padding-left: 1.5rem!important;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -o-transform:scale(0);
  transform:scale(0);
}

.animate {
  -webkit-animation:all 0.4s ease-in-out;
  -moz-animation:all 0.4s ease-in-out;
  -ms-animation:all 0.4s ease-in-out;
  -o-animation:all 0.4s ease-in-out;
  animation:all 0.4s ease-in-out;
}

@-webkit-keyframes ripple {
  100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
  100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
  100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}


.spinning {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }