<div class="row g-1 mb-3 align-content-stretch">
    <div class="col-12 col-lg-5 bg-white">
        <div class="slim-form mt-4 h-100">
            <label class="pt-2" for="opt">Themen</label>
            <select class="slim-select-multi-school custom-select" multiple id="opt">
                <option>Treptow-Kolleg</option>
                <option>Kolleg Schöneberg</option>
                <option>Charlotte-Wolff-Kolleg</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-5 bg-white">
        <div class="slim-form mt-4 h-100">
            <label class="pt-2" for="opt">Inhalt</label>
            <select class="slim-select-multi-school custom-select" multiple id="opt">
                <option>Treptow-Kolleg</option>
                <option>Kolleg Schöneberg</option>
                <option>Charlotte-Wolff-Kolleg</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-2 bg-white">
        <div class="slim-form mt-4 h-100">
            <label for="opt" class="pt-2">Zeitraum</label>
            <select class="slim-select-single-school custom-select" id="opt">
                <option>alle</option>
                <option>letzte 3 Monate</option>
                <option>letzte 6 Monate</option>
                <option>letzte 12 Monate</option>
            </select>
        </div>
    </div>
</div>