<div class="list-group-item d-flex align-items-center p-0">
    <a href="{{ url('chat_start',{'slug':user.slug}) }}" class="ripplelink swipe-link-start w-100 d-flex align-items-center justify-content-between p-3 text-decoration-none">
        <span class="fw-bolder">{{ user.userProfiles.first }}</span>
        <div class="d-flex align-items-center">
            {% if message > 0 %}
                <div class="badge text-bg-secondary rounded fw-normal me-1">{{ message }}</div>
            {% endif %}
            <i class="ri-arrow-right-s-line"></i>
        </div>
    </a>
    {% if user.isContactable %}
        <a href="{{ url('chat_new',{'id':chat.id}) }}" class="ripplelink p-3 text-decoration-none">
            <i class="link-primary ri-chat-4-line"></i>
        </a>
    {% else %}
        <a href="javascript:void(0)" class="text-muted text-decoration-none p-3 disabled">
            <i class="link-muted ri-chat-off-line"></i>
        </a>
    {% endif %}
</div>