<div class="list-group-item list-group-item-group d-flex align-items-center p-0">
    <a href="{{ url('chat_start',{'slug':user.slug}) }}" class="w-100 d-flex align-items-center justify-content-between p-3 text-decoration-none">
        <span class="fw-bolder">{{ user.userProfiles.first }}</span>
        <div class="d-flex align-items-center">
            {% if message > 0 %}
                <div class="badge text-bg-secondary rounded fw-normal me-1">{{ message }}</div>
            {% endif %}
            <i class="bx bxs-chevron-right"></i>
        </div>
    </a>
    <a href="{{ url('chat_new',{'id':chat.id}) }}" class="p-3 text-decoration-none"><i class="bx bx-chat"></i></a>
</div>