<div class="row g-1 mb-3 align-content-stretch">
    <div class="col-12 col-lg-4 bg-white">
        <div class="slim-form mt-4 h-100">
            <label class="pt-2" for="opt">Schule</label>
            <select class="slim-select-multi-school custom-select" multiple id="opt">
                <option>Treptow-Kolleg</option>
                <option>Kolleg Schöneberg</option>
                <option>Charlotte-Wolff-Kolleg</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-4 bg-white">
        <div class="slim-form mt-4 h-100">
            <label for="opt" class="pt-2">Leistungskurs</label>
            <select class="slim-select-multi-school custom-select" multiple id="opt">
                <option>Informatik</option>
                <option>B</option>
                <option>C</option>
            </select>
        </div>
    </div>
    <div class="col-6 col-lg-2 bg-white">
        <div class="slim-form mt-4 h-100">
            <label for="opt" class="pt-2">Startjahr</label>
            <select class="slim-select-single-school custom-select" id="opt">
                <option>2024</option>
                <option>B</option>
                <option>C</option>
            </select>
        </div>
    </div>
    <div class="col-6 col-lg-2 bg-white">
        <div class="slim-form mt-4 h-100">
            <label for="opt" class="pt-2">Abgangsjahr</label>
            <select class="slim-select-single-school custom-select" id="opt">
                <option>2024</option>
                <option>B</option>
                <option>C</option>
            </select>
        </div>
    </div>
</div>