<div class="mb-3">
    <div class="nav nav-underline">
        <a href="{{ path('event_index') }}" class="nav-item nav-link {{ selected|default() == 'index' ? 'active' : '' }} text-nowrap">
            <i class="fa-solid fa-list text-primary"></i>
            <span class="ms-1 d-none d-lg-inline">Übersicht</span>
        </a>
        <a href="#" class="nav-item nav-link {{ selected|default() == 'show' ? 'active' : 'disabled' }} text-nowrap">
            <i class="fa-solid fa-magnifying-glass text-muted"></i>
            <span class="ms-1 d-none d-lg-inline">Details</span>
        </a>
        {% if event_count|default(null) %}
                <a class="nav-item ms-auto nav-link disabled" href="#">
                    <span class="me-1 text-primary fw-bolder">{{ event_count }}</span>
                    <i class="fa-solid fa-calendar-day text-primary"></i>
                </a>
        {% endif %}
    </div>
</div>