<div class="mb-3">
    <div class="nav nav-underline">
        {% if selected|default() == 'show' %}
            <a href="{{ url('event_index') }}" class="nav-item nav-link {{ selected|default() == 'index' ? 'active' : '' }} text-nowrap">
                <i class="ri-arrow-left-double-line text-primary"></i>
                <span class="ms-1">Zurück</span>
            </a>
            {% if app.user %}
                <form id="event-toggle" method="post"></form>
                {% if post in app.user.followedEvents %}
                    <a href="#" class="nav-link dropdown-toggle ms-auto" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-star text-secondary me-2"></i>Du nimmst teil</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button type="submit" form="event-toggle" class="dropdown-item" href="#"><i class="bx bx-block me-2"></i>Nicht mehr teilnehmen</button></li>
                    </ul>

                {% else %}
                    <button type="submit" form="event-toggle" class="nav-link ms-auto" href="#"><i class="fa-regular fa-star text-secondary me-2"></i>Teilnehmen</button>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if event_count|default(null) %}
                <a class="nav-item ms-auto nav-link disabled" href="#">
                    <span class="me-1 text-primary fw-bolder">{{ event_count }}</span>
                    <i class="ri-calendar-2-line text-primary"></i>
                </a>
        {% endif %}
    </div>
</div>