<div class="mb-3">
    <div class="nav nav-underline">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('profile_settings') }}" class="nav-item nav-link {{ selected|default() == 'index' ? 'active' : '' }} text-nowrap">
                <i class="ti ti-chevrons-left text-primary"></i>
                <span class="ms-1">Zurück</span>
            </a>
        {% endif %}
    </div>
</div>