<!DOCTYPE html>
<html lang="de" class=" h-100">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Alumni" />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="description" content="Portal für Alumni, Lernende und Lehrkräfte des Treptow-Kollegs Berlin">
        <title>{% block title %}{{ meta_title ? meta_title ~ ' | Alumni Portal' : 'Alumni Portal' }}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css" integrity="sha512-wu4jn1tktzX0SHl5qNLDtx1uRPSj+pm9dDgqsrYUS16AqwzfdEmh1JR8IQL7h+phL/EAHpbBkISl5HXiZqxBlQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css">
            <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
            <style>
                .bx{
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    line-height: 1.2;
                    text-rendering: auto!important;
                    vertical-align: middle!important;
                }

                .bx-fw{
                    line-height: 1!important;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
            <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
        {% endblock %}
    </head>
    <body class="bg-body-tertiary d-flex flex-column" style="min-height: 100%">

    {{ include('component/_toast.html.twig') }}

    {% block header %}{% endblock %}

    <main class="d-flex flex-column flex-fill">{% block page %}{% endblock %}</main>

    {% if not app.session.get('cookie_consent') %}
        <div id="cookie-banner" class="fixed-bottom bg-dark text-white py-3">
            <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
                <p class="mb-3 mb-lg-0 me-lg-2">
                    Wir verwenden ausschließlich funktionale Cookies, um das Alumni-System umzusetzen. Cookies von Drittanbietern werden nicht genutzt.
                    Mehr Informationen findest du in unserer <a href="/datenschutz" class="text-info text-decoration-underline text-nowrap">Datenschutzerklärung</a> und der <a href="/datenschutz" class="text-info text-decoration-underline text-nowrap">Green-Data-Richtlinie</a>.
                </p>
                <div class="d-flex">
                    <button id="accept-all" class="btn text-nowrap btn-primary me-2">
                        Nur funktionale Cookies
                    </button>
                    <button id="customize" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#cookie-modal">
                        Einstellungen
                    </button>
                </div>
            </div>
        </div>
        <div id="cookie-modal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cookie-Einstellungen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Wähle aus, welche Cookies du erlauben möchtest:</p>
                        <form id="cookie-settings-form">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="necessary-cookies" value="necessary" checked disabled>
                                <label class="form-check-label" for="necessary-cookies">
                                    Notwendige Cookies (immer aktiv)
                                </label>
                                <p class="small">
                                    Diese Cookies sind essenziell, um das Login-System des Alumni-Portals zu ermöglichen. Es handelt sich um sogenannte Session-Cookies, die automatisch gelöscht werden, sobald du den Browser schließt.
                                </p>
                            </div>
                            <div class="">
                                <p class="small">
                                    Wenn du auf Speichern klickst, wird zusätzlich ein Cookie angelegt, das deine Auswahl speichert und festhält, welche Cookies erlaubt sind und welche nicht.
                                </p>
                                <p class="small mb-0">
                                    Weitere Informationen, einschließlich einer Anleitung zum Löschen von Cookies, findest du in unserer <a href="#">Green-Data-Richtlinie</a>.
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="save-cookie-settings" class="btn btn-primary">Speichern</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block footer %}{% endblock %}
    </body>
</html>
