<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    {% set route = app.request.get('_route') %}

    <nav class="py-3 bg-transparent">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="{{ path('app_index') }}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <img src="{{ asset('images/tk.png') }}" height="32" class="me-2" alt="logo">
                <span class="fs-4 link-black fw-light">Alumni Portal</span>
            </a>
            <ul class="nav">
                {#
                <li class="nav-item"><a href="#" class="nav-link p-3 text-uppercase link-dark me-2">Menü</a></li>
                <li class="nav-item d-none d-md-block"><a href="#" class="btn btn-primary p-3 text-uppercase me-2">Mitglied werden</a></li>
                <li class="nav-item d-none d-md-block"><a href="#" class="btn btn-primary p-3 text-uppercase">Mein Bereich</a></li>
                #}
            </ul>
        </div>
    </nav>

    <main class="pb-5 h-100">
        {% block body %}{% endblock %}
    </main>
    <div class="bg-light py-3 mt-5">
        <div class="container">
            Dieses Projekt befindet sich zurzeit in der Entwicklung. Es werden keine Cookies gespeichert.
        </div>
    </div>
    <footer class="text-bg-primary py-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    &copy;2024-2025 Benjamin Wagner
                </div>
                <div>
                    <ul class="nav">
                        {#
                        <li class="nav-item"><a href="#" class="nav-link link-white">Impressum</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-white">Datenschutz</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-white">Kontakt</a></li>
                        #}

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
