{% extends '_full.html.twig' %}

{% set meta_title = 'Alumni Portal' %}
{% set meta_subtitle = 'des ZBW' %}
{% set meta_description = 'Impressum und die Verantwortlichen des Alumni-Portals' %}

{% set seo_title = 'Seite nicht gefunden' %}

{% set sidebar = 'not-found' %}

{% block page_header %}
    <section class="py-5">
        <div class="container">
            <h3 class="h3">Hoppla</h3>
            <img src="/3747371.jpg" alt="Seite nicht gefunden" class="img-fluid">
            <p>
                Die angeforderte Seite existiert leider nicht oder nicht mehr. Vielleicht hast du dich auch nur vertippt.
            </p>
            <a class="btn btn-primary shadow-sm rounded-2" href="{{ url('app_index') }}">Zurück zur Startseite</a>

        </div>
    </section>


{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}
{% endblock %}





